.timeline {
  margin: 63px auto;
  display: flex;
  max-width: 768px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 50%;
  }
  &__col {
    width: 50%;
    &--left {
      text-align: right;
      padding-right: 48px;
    }
    &--right {
      padding-left: 48px;
    }
  }
  &__title {
    font-size: 18px;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 38px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
    &-date {
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-decoration: underline;
      color: $black;
      margin-bottom: 13px;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      color: $black;
      text-transform: capitalize;
    }
    &-prof {
      color: $black;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 5px;
      font-style: italic;
    }
    &-text {
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: $grey;
      ul {
        li {
          list-style: none;
        }
      }
    }
  }
  &__skills {
    &-item {
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: $mobile-sm) {
  .timeline {
    &__item {
      &-text {
        color: $grey;
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
          }
        }
      }
    }
  }
}
